<h1>home</h1>
<div class="container-fluid">
    <div class="container">

        <div class="alert alert-warning alert-dismissible fade " role="alert" id="error-alert">
            <div class="alert-text">
                <p class="alert-message"></p>
            </div>
        </div>
    </div>

    <div class="container search-container">
        <form>
            <div class="form-group ">
                <h3 class="text-center">Add a movie to watch</h3>
                <input type="text" class="form-control-lg" id="add-movie" name="add-movie"
                    placeholder="Enter the name of a movie">
                <small class="form-text text-muted">We'll never judge you for the movies you pick (thats a lie).</small>
            </div>
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/index.js"></script>