<h1>home</h1>
<div class="container-fluid">

    <div class="container mx-auto">
        <form>
            <div class="form-group ">
                <label for="add-movie">Add Movie</label>
                <input type="text" class="form-control-lg" id="add-movie" placeholder="Enter the name of a movie">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>


            <button type="submit"  id="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/index.js"></script>